* {
  box-sizing: border-box;
}

.stat-box {
  border: 1px black solid;
  margin: 1em 0;

  h1 {
    font-size: 14px;
  }

  &.attribute {
    text-align: center;

    .attrib-val {
      background-color: white;
      border: 1px black solid;
      border-radius: 50%;
      position: relative;
      top: 0.6em;
    }
  }
}

.attrib-mod {
  font-size: 28px;
}

.attrib-val {
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  width: 50%;

  &.large-val {
    font-size: 24px;
  }
}

ul {
  padding-left: 10px;
}
li {
  list-style: none;
}

.dot::before {
  content: "\0025CB";
}

.dot.selected-dot::before {
  content: "\0025C9";
}

.governing-attrib {
  font-size: 12px;
  color: #707070;
}

.labelled-val {
  background-color: white;
  border: 1px black solid;
  border-radius: 50%;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 2.5em;
  left: 10px;
  margin-top: 2px;
  padding: 0.39em;
  position: relative;
  text-align: center;
  width: 2.5em;

  & + .box-label {
    border-left: 0;
  }
}

.ticky-box {
  background-color: white;
  border: 1.5px black solid;
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
}
.box-label {
  border: 1px black solid;
  display: inline-block;
  flex-grow: 1;
  height: 2em;
  padding: 0 5px;
  position: relative;
  text-align: center;
  top: 0.25em;
}

.free-text {
  flex-grow: 1;
  margin: 1em 0;
  padding: 0.5em;
}

dd {
  margin-left: 1em;
}

.text-centre {
  text-align: center;
}
